<div id="cv" class="padded">

  <div class="description">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <h1><%= data.cv.fullname %></h1>
        <p>Développeur Web FullStack Ruby on Rails - <%= age_calculator(data.cv.birthday[0],data.cv.birthday[1],data.cv.birthday[2]) %> ans</p>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="contact">
          <p><i class="fa fa-map-marker" aria-hidden="true"></i><%= data.cv.address %></p>
          <p><i class="fa fa-envelope" aria-hidden="true"></i><%= data.cv.mail %></p>
          <p><i class="fa fa-phone" aria-hidden="true"></i><%= data.cv.phone %></p>
        </div>
      </div>
    </div>
  </div>

  <div class="line">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1">
        <div id="garland">
          <div></div><div></div><div></div><div></div><div></div>
          <h2 class="text-center">Introduction</h2>
        </div>
        <p><%= data.cv.introduction %></p>
      </div>
    </div>
  </div>

  <div class="line">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1">
        <div id="garland">
          <div></div><div></div><div></div><div></div><div></div>
          <h2 class="text-center">Expériences</h2>
        </div>
      </div>
      <% data.experiences.each do |experience| %>
        <div class="col-xs-10 col-xs-offset-1">
          <div class="experience">
            <div class="row">
              <div class="col-xs-12">
                <p class="date"><i class="fa fa-calendar" aria-hidden="true"></i><%= experience.last.start_date %> - <%= experience.last.end_date %></p>
              </div>
              <div class="col-xs-12 col-md-3">
                <div class="card-institution text-center">
                  <a href="<%= experience.last.website %>">
                    <%= image_tag experience.last.logo %>
                  </a>
                  <h3><%= experience.last.job %></h3>
                  <p><%= experience.last.company_name %> - <%= experience.last.city %></p>
                </div>
              </div>
              <div class="col-xs-12 col-md-9">
                <p>
                  <%= experience.last.description %>
                </p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="line">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1">
        <div id="garland">
          <div></div><div></div><div></div><div></div><div></div>
          <h2 class="text-center">Formations</h2>
        </div>
      </div>
      <% data.education.each do |formation| %>
        <div class="col-xs-10 col-xs-offset-1">
          <div class="experience">
            <div class="row">
              <div class="col-xs-12">
                <p class="date"><i class="fa fa-calendar" aria-hidden="true"></i><%= formation.last.year %></p>
              </div>
              <div class="col-xs-12 col-md-3">
                <div class="card-institution text-center">
                  <h3><%= formation.last.degree_name %> <%= formation.last.speciality %></h3>
                  <p><%= formation.last.school %> - <%= formation.last.city %></p>
                </div>
              </div>
              <div class="col-xs-12 col-md-9">
                <p>
                  <%= formation.last.description %>
                </p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="line">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1">
        <div id="garland">
          <div></div><div></div><div></div><div></div><div></div>
          <h2 class="text-center">Compétences</h2>
        </div>
      </div>
    </div>
    <div class="row padded-mini">
      <div class="col-xs-10 col-xs-offset-1">
        <div class="row">
          <% data.skills.each do |skill| %>
            <% if skill.last.category.include?('development') %>
              <div class="col-xs-4 col-sm-2">
                <p class="text-right"><%= skill.last.name %></p>
              </div>
              <div class="col-xs-8 col-sm-4">
                <div class="progress">
                  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="<%= skill.last.level %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= skill.last.level %>%;">
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="line">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1">
        <div id="garland">
          <div></div><div></div><div></div><div></div><div></div>
          <h2 class="text-center">Autres informations</h2>
        </div>
      </div>
    </div>
    <div class="row padded-mini">
      <div class="col-xs-10 col-xs-offset-1">
        <div class="row">
          <div class="col-xs-4 col-sm-3 col-md-2">
            <h3>Langues</h3>
          </div>
          <div class="col-xs-8 col-sm-9 col-md-10">
            <p>Français, Anglais</p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4 col-sm-3 col-md-2">
            <h3>Transport</h3>
          </div>
          <div class="col-xs-8 col-sm-9 col-md-10">
            <p>Titulaire du permis B</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="line">
    <div class="row text-center">
      <div class="col-xs-12">
        <a href="<%= image_path 'cv-germain-loret.pdf' %>" download class="btn-download">
          <div class="face-primary">
            <span class="icon fa fa-cloud"></span>
            Download
          </div>

          <div class="face-secondary">
            <span class="icon fa fa-hdd-o"></span>
            Poids : 225 ko
          </div>
        </a>
      </div>
    </div>
  </div>

</div>
